body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background-color: blue;
    font-size: 32px;
    font-weight: 900;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
}

.footer {
    font-size: 20px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    background-color: gray;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}